body{
font-family: sans-serif;
color: white;
}
header{
	background: url(pexels-freestocksorg-96380.jpg);
	padding: 45px 0;
	background-size: cover;
	background-position: center;

	

}
section{
	padding:10px;
}
h1{

	font-size: 0 auto;
	margin: 0;
	text-align: center;
color: white;
}
h2{
	text-align: center;
	color: white;
}
h3{
	color: black;
	text-align: center;
}
p:hover {

text-decoration: blink;
word-break: keep-all;
color: white;
font-size: 1.5em;
background-color: #1f2530;

}
ul{
	word-break: break-all;
}

img{
	margin: 10px;
	width: 100%;
	margin: 0 auto;
	border-radius: 50%;

}
button{
	border-radius: 10px 15px 5px;
	color: white;
	font: bolder;
	background: orangered;
}
footer{
	width: 100%;
	background:black ;
	height: 50px;
}
.container{
	width: 90%;
	border:
	color: red;
	margin: 0 auto;
	max-width: 690px;
	

}
.h1-color{
	background-color: #1f2530;
	
	border-color: orangered;
}
.section-one{
	width: 90%;
	
	
margin: 0 auto;
}
.container-one{
	
	width: 90%;
	
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-around;

margin: 0 auto;
padding-bottom: 80px;
}
.container-box{
	border-radius: 5px 10px 10px;
	width: 400px;
	height: 200px;
margin:10px;
margin-top: 50px;
 border-color:#1f2530;
 padding-bottom: 80px;


}
.img-background{
	border-radius: 5px 10px 10px;
	background: #1f2530;
	border-color:#1f2530;
width: 100%;
height: 100%;

background-size: cover;

}
.section-two{
background: #1f2530;
margin: 0 auto;
padding: 45px 0;

}
.container-two{
	width: 90%;
	border: solid;
	color: red;
	margin: 0 auto;
	max-width: 690px;
	display: flex;


}

.section-3{
background: #1f2530;
margin: 0 auto;
padding: 45px 0;

}
.container-3{
	width: 90%;
	border:black;
	color: red;
	margin: 0 auto;

	max-width: 690px;
	

}
@media(max-width:670px ){
	body{padding: 0;
		margin: 0;}
	P{
		font-size: 20px;
	}
	img{
	margin: 10px;
	width: 100%;
	margin: 0 auto;
	border-radius: 100%;
}
h3{

}
.container-box{
	width: 110px;
	height: 100px;

margin: 2px;
margin-top: 50px;
 border-color:#1f2530;
 padding-bottom: 80px;

}
}